$primary-color: #4f6d9e;
$secondary-color: #fd8638;
$show-home-image: true;
$home-image: url(../imgs/background.jpg);
$background-opacity: 0.25;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: linear-gradient(to right, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.35) 54%,rgba(0,0,0,0) 100%), $home-image center center no-repeat;
            background-attachment: fixed;
            background-size: cover;
            min-height: 100vh;

            // &:after {
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     width: 100%;
            //     height: 100%;
            //     z-index: -1;
            //     background: rgba($primary-color, $background-opacity);
            // }
        }
    }
}
